# Python bytecode
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
env/

# Environment variables
.env.local
.env.aws
.env

# logs
logs/

# Docker volumes / local PG data
pgdata/
*/pgdata/
*.db
*.log

# Airflow local files
airflow/airflow.db
airflow/logs/
airflow/unittests.cfg
airflow/__pycache__/

# VSCode / editor junk
.vscode/
*.swp
.DS_Store
.idea/

# dbt artifacts
target/
dbt_packages/
dbt_modules/

# projections CSV
projections/