x-airflow-common: &airflow-common
  build:
    context: .
    dockerfile: Dockerfile.Airflow
  environment:
    &airflow-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW_URL}
    BASEBALL_URL: ${BASEBALL_URL}
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth"
    DBT_PROFILES_DIR: /opt/airflow/.dbt
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./scripts:/opt/airflow/scripts
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - ./dbt:/opt/dbt                         
    - ./dbt/profiles:/opt/airflow/.dbt:ro
  depends_on:
    - db
  networks:
    - airflow_net

services:
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/sql:/sql
    ports:
      - "5432:5432"
    networks:
      - airflow_net
# PostgreSQL database container for storing Statcast data

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command: -c "airflow db migrate && airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin"
    depends_on:
      - db # Ensure database is up before starting Airflow

  airflow-webserver:
    <<: *airflow-common
    ports:
      - "8080:8080"
    command: webserver
    # Airflow scheduler and webserver container

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler

  pipeline-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pipeline-app
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./scripts:/app/scripts
    networks:
      - airflow_net
    command: tail -f /dev/null
  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
    container_name: dbt
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DBT_PROFILES_DIR: /root/.dbt
      DBT_TARGET: dev
      # Pass through Postgres creds from .env
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # Optional: tweak threads, etc., via env or profiles.yml
    volumes:
      - ./dbt:/usr/app               # your dbt project
      - ./dbt/profiles:/root/.dbt    # profiles.yml goes here
    working_dir: /usr/app
    networks:
      - airflow_net

volumes:
  postgres_data:
  # Persistent volume for PostgreSQL data

networks:
  airflow_net:
    driver: bridge